<aside id="main-sidebar" class="col-span-1 border-2 border-fishingorange" role="complementary">
	<div class="navbar-collapse flex">
		{% include 'header/navigation.twig' with {
			items: menu.get_items
		} %}
	</div>
</aside>
